.timer-div-container {
  width: 500px;
  height: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dateTime-picker {
  border-radius: 8px;
  width: 138px;
  height: 24px;
  background: #fff;
  border-color: #808080;
  padding: 8px 118px 8px 16px;
  font-size: 16px;
  text-align: center;
  color: #808080;
  margin-bottom: 32px;
}

#dateTime-picker:hover,
#dateTime-picker:focus {
  border: 1px solid #000;
}

#dateTime-picker:active {
  border: 1px solid #4e75ff;
  color: #000;
}

#dateTime-picker:disabled {
  background-color: #cfcfcf;
  color: #808080;
  cursor: not-allowed;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  border: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
button:hover {
  background-color: #6c8cff;
}
button:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

.timer {
  width: 346px;
  height: 72px;
  display: flex;
  gap: 24px;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.12em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  color: #2e2f42;
}
